body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    
    height: 5020px;
    left: 0%;
    right: 0%;
    top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #464646;
    background: #f5f5f5;
}

.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;

     position: relative;
    width: 1136px;
    margin: 0 auto;
}

.logo {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    padding: 0;

    position: static;
    width: 165px;
    height: 24px;
    left: 0;
    top: 32px;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}

.email {
    font-weight: bold;
    margin: 0px 10px;
}

nav a:hover {
    color: #c78c19;
}

.apresentacao {
    margin: 0 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 368px;
    left: 152px;
    top: 120px;
}

.titulo-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 751px;
    height: 246px;
    left: 0px;
    top: 61px;
}

.titulo {
    position: static;
    width: 751px;
    height: 122px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    margin: 24px 0px;

}

.descricao {
    position: static;
    width: 751px;
    height: 52px;
    left: 0px;
    top: 146px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0px;
    align-self: stretch;

}

.links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 467px;
    height: 24px;
    left: 0px;
    top: 222px;
    margin: 24px 0px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px 32px;
}

.foto {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

}

#sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    position: static;
    width: auto;
    height: 300px;
    left: 0px;
    top: 520px;
    background: #eaf2fd;
    margin: 32px 0px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 355px;
    left: 152px;
    top: 64px;
    margin: 10px 0px;
}

.titulo-sobre {
    position: static;
    width: 166px;
    height: 38px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 16px 0px;
}

.texto-sobre {
    position: static;
    width: 751px;
    height: 133px;
    left: 0px;
    top: 54px;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    margin: 16px 0px;

}

#skills-hobbies {
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    height: 1245px;
    left: 0px;
    top: 935px;
}

.titulo-skill {
    margin: 32px 0px;
    position: static;
    width: 82px;
    height: 38px;
    left: 527px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 1136px;
    height: 174px;;
    left: 0;
    top: 70px;
    margin: 32px 0;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    padding: 16px;
    position: static;
    width: 176px;
    height: 174px;
    left: 0;
    top: 0;
    background: #ffffff;
    margin: 0 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;

}

.titulo-hobbie {
    margin: 32px 0px;
    position: static;
    width: 82px;
    height: 38px;
    left: 527px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

}

.hobbies {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 1136px;
    height: 174px;;
    left: 0;
    top: 70px;
    margin: 32px 0;
}

.hobbie {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    padding: 10px;
    position: static;
    width: 176px;
    height: 174px;
    left: 0;
    top: 0;
    background: #ffffff;
    margin: 0 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.figuras {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: static;
}

#formacao {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    position: static;
    width: 1440px;
    height: 581px;
    left: 0;
    top: 664px;
    background: #eaf2fd;
    margin: 88px 0;

}

.texto-formacao {
    position: static;
    width: 330px;
    height: 38px;
    top: 82px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 32px 0;

}

.formacoes {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 347px;
    left: 152px;
    top: 152px;
    margin: 32px 0px;
}

.curso {
    
    display: flex;
    flex-direction: column;
    position: static;
    width: 368px;
    height: 347px;
    margin: 0px 16px;
}

.figura-formacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 310px;
    height: 210px;
    position: static;
    border-radius: 10px;
    background: #ffffff;
    margin:0px;
}


.nome-curso {
    position: static;
    font-weight: bold;
    line-height: 26px;
    margin: 30px 8px 2px 8px;
    
}

.periodo-curso {
    position: static;
    font-weight: 500;
    line-height: 19px;
    margin: 10px 8px 2px 8px;
    
}

#projetos {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 1816px;
    left: 152px;
    top: 2212px;
    margin: 222px 225px 30px;
}

.texto-experiencia {
    position: static;
    width: 364px;
    height: 38px;
    left: 386px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin:0px;
}

.itens {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 1816px;
    left: 0px;
    top: 70px;
    margin: 0px;
}

.experiencia1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 406px;
    left: 0px;
    top: 0px;
    margin:0px;
}

.print {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: static;
    width: 572px;
    height: 326px;
    left: 0px;
    top: -10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0px 36px;
}

.infos {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 348px;
    height: 112px;
    left: 788px;
    top: 147px;
    margin: 0px 16px;
}

.nome-projeto {
    position: static;
    width: 348px;
    height: 26px;
    left: 0px;
    top: 0px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    align-self: stretch;
    margin: 0px 10px;
}

.descricao-projeto {
    position: static;
    width: 348px;
    height: 19px;
    left: 0px;
    height: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-self: stretch;
    margin: 10px 10px;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 560px;
    height: 51px;
    left: 0px;
    top: 61px;
    margin: 25px 0px;
}


.botao-white {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 116px;
    height: 51px;
    left: 0px;
    top: 0px;
    border: 1px solid #2a7ae4;
    box-sizing: border-box;
    color: #2a7ae4;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 16px 0px 0px;
}

.link {
    position: static;
    width: 84px;
    height: 19px;
    left: 16px;
    top: 16px;
    margin: 0px 10px;
    text-decoration: none;

}

.botao-blue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 55px;
    position: static;
    width: 105px;
    height: 51px;
    left: 132px;
    top: 0px;
    background: #2a7ae4;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 26px;
    border: #2a7ae4;
}

.link1 {
    position: static;
    width: 73px;
    height: 19px;
    left: 16px;
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    margin: 0px 10px;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.experiencia2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 406px;
    left: 0px;
    top: 470px;
    margin:0px;
}

.infos2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 368px;
    height: 138px;
    left: 0px;
    top: 134px;
    margin: 0px 16px;
}

.descricao-projeto2 {
     position: static;
     width: 348px;
    height: 19px;
    left: 0px;
    height: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-self: stretch;
    padding: 25px 0px 0px;
    margin: 10px 10px 0px 10px;
}

.descricao-projeto3 {
     position: static;
     width: 348px;
    height: 19px;
    left: 0px;
    height: 34px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-self: stretch;
    margin: 10px 0px 0px 10px;
}


#contato {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    position: static;
    width: 1440px;
    height: 788px;
    left: 0px;
    top: 0px;
    background: #eaf2fd;
    margin: 0px 0px;
}

.form-contato {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 0px 0px;
    position: static;
    width: 1136px;
    height: 660px;
    left: 152px;
    top: 64px;
    margin: 10px 0px;
}

.img-contato {
    position: static;
    width: 464px;
    height: 660px;
    left: 0px;
    top: 65.5px;
    background: #ededed;
    margin: 0px;
}

.formulario {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 656px;
    height: 660px;
    left: 480px;
    top: 64px;
    margin: 0px 16px;
}

.topo-contato {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 656px;
    height: 84px;
    top: 0px;
    margin: 0px;
}

.titulo-contato {
    position: static;
    width: 123px;
    height: 38px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 0px;
}

.descricao-contato {
    position: static;
    width: 656px;
    height: 38px;
    left: 0px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 15px 0px;
}

.campos-contato {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 656px;
    height: 447px;
    left: 0px;
    top: 116px;
    margin: 32px 0px;
}

.nome-contato {
    position: static;
    width: 650px;
    height: 56px;
    left: calc(50% - 650px/2);
    top: 0px;
    background: #ffffff;
    border-radius: 4px;
    align-self: stretch;
    border: #ffffff;
    margin: 0px 0px 32px 0px;
}

.email-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 650px;
    height: 56px;
    left: 0px;
    top: 88px;
    background: #ffffff;
    border-radius: 4px;
    align-self: stretch;
    border: #ffffff;
    margin: 0px 0px 32px 0px;

}

.assunto-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 650px;
    height: 56px;
    left: 0px;
    top: 176px;
    background: #ffffff;
    border-radius: 4px;
    align-self: stretch;
    border: #ffffff;
    margin: 0px 0px 32px 0px;

}

.mensagem-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 650px;
    height: 183px;
    left: calc(50% - 650px/2) ;
    top: 0px;
    background: #ffffff;
    border-radius: 4px;
    align-self: stretch;
    border: #ffffff;
    margin: 32px 0px 0px 0px;
}

.enviar-formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 165px;
    height: 51px;
    left: 0px;
    top: 545px;
    background: #2a7ae4;
    margin: 42px 0px 0px 0px;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    border: #2a7ae4;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: static;
    width: 1505px;
    height: 102px;
    left: 0px;
    top: 788px;
    background: #ffffff;
    margin: 0px 0px;
    
}

.copyright {
    position: static;
    width: 434px;
    height: 38px;
    left: 603px;
    top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px 10px;
}

